img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

h1 {
    text-align: center;
    font-size: 2.0cm;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',  monospace
}

h2 {
    text-align: left;
    font-size: 1.0cm;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',  monospace
     
}

p {
    text-align: justify;
    font-size: 0.5cm;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',  monospace
}

body {
    background-color: #347decd0;
    margin: 0;
    padding: 20px;
}